@{
    ViewBag.Title = "Confirmação de reposição de password";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        A sua password foi redefinida. Por favor @Html.ActionLink("clique aqui para fazer log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
