@{
    ViewBag.Title = "Sobre nos";
}
<div align="center">
    <img src="~/Content/Index.jpg" />
    <h3>@ViewBag.Message</h3>
        <br>O Conceito IMOBUTAD surge em Vila Real de forma a conceber um projeto por parte de alunos de Engenharia Informatica da Utad</br>
        <br> Somos uma empresa jovem e dinâmica, recentemente criada e pretendemos ser uma referência no mercado imobiliário.<br>
        <br> Com a nossa experiência em todo o sector imobiliário, conseguimos prestar o aconselhamento certo para os bons negócios e tratar-lhe de toda a burocracia..</br>
</div>
