@{
    ViewBag.Title = "Contactos";
}

<div align="center">
 <img src="~/Content/Index.jpg" />
<h3>@ViewBag.Message</h3>
<address>
    Rua da imobiliaria<br />
    5000-000, Vila Real, Vila Real<br />
    <abbr title="Telefone">Telefone:</abbr>
    915108883
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:imobutad@gmail.com">imobutad@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:imobutad@gmail.com">imobutad@gmail.com</a>
</address>
</div>

